# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Env files
.env
.env.*

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Screenshots
Room.png
welcome.png
